<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo Express + Handlebars</title>
    </head>
    <body>
        <header>
            <h1>Minha disciplina</h1>
        </header>
        {{{body}}}
        <footer>
            <span>Teste da disciplina</span>
        </footer>
    </body>
</html>