<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        
        <title>Minha Aplicação WEB</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <header>
            <h1>Renderizando JSON com HandleBars</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a onclick="link1()" href="#">Link 1</a>
                </li>
                <li>
                    <a onclick="link2()" href="#">Link 2</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
            </ul>
        </nav>
        <section id="content">
            Este é o conteúdo inicial!!!
        </section>     
        <footer>
            <hr/>
            <h4>Rodapé</h4>
        </footer>

        <script id="result-template" type="text/x-handlebars-template">
           
            <table border="1">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                </tr>
                </thead>
                <tbody>
                    {{#each elementos}}
                    <tr>
                        <td>{{this.nome}}</td>
                        <td>{{this.email}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </script>
        <script id="result-template2" type="text/x-handlebars-template">
            <p>Nome: {{nome}} Telefone: {{telefone}}</p>
        </script>
       
        <script type="text/javascript" src="../javascript/exemplo.js"></script>
        
    </body>
</html>